.playerStatsCard {
  width: 300px;
  height: 600px;
  background-color: white;

  &__top {
    height: 300px;
    width: 100%
  }

  &__bottom {
    height: 305px;
    width: 100%;
    background-color: $colour-red;
  }

}
